@import "tailwindcss";


@keyframes shine {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.button-animated {
  background: conic-gradient(from 0deg, #00F5FF, #FF00C7, #FFD700, #00FF85, #8A2BE2, #00F5FF);
  background-size: 300% 300%;
  animation: shine 4s ease-out infinite;
}
.hero-banner {
  padding-top: 80px;
  background: #FFF1F2;
  background: radial-gradient(circle, #fae8ff 0%, #f5f5f4 100%);
  margin-top: -90px;

}